<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Portal Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul> <!-- Navigation !-->
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                {{#if isAuthenticated}}
                <li><a href="/logout">Logout</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    
    <main>
        {{{body}}} <!-- This is where the content for each page will be injected -->
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
